# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/598fac858f269f97975dfd4601685f53
/build/app/generated
/build/app/intermediates
/build/app/kotlin
/build/app/outputs/flutter-apk
/build/app/outputs/logs
/build/app/snapshot
/build/app/tmp
/build/path_provider_android
/build/c075001b96339384a97db4862b8ab8db.cache.dill.track.dill
/build/app/outputs/apk/debug/output-metadata.json

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

android
ios
linux
macos
test
web
windows
.metadata
analysis_options.yaml
pubspec.lock